aiohttp
asyncio
colorama
colorist
datetime
discord.py==1.7.3
httpx
keyboard
mouse
pathlib
psutil
pyautogui
pycryptodomex
pyperclip
pystyle
pywin32
requests
rule34Py
tls-client
toml
typing_extensions
uuid
websocket-client
