aiohttp
asyncio
colorama
colorist
ctypes
datetime
discord.py==1.7.3
discord.ext
httpx
json
keyboard
mouse
os
pathlib
psutil
pyautogui
pycryptodomex
pyperclip
pystyle
pywin32
random
requests
rule34Py
shutil
string
subprocess
threading
tls-client
tkinter
toml
typing_extensions
urllib
uuid
warnings
websocket-client
